<form class="account-form" action="/account/password" method="post">
  <h5>Change Password</h5>
  <input name="current" placeholder="Current Password" type="password" required>
  <input name="new" placeholder="New Password" type="password" required>
  <input name="new_again" placeholder="Enter new password again" type="password" required>
  <input class="account-form-btn btn btn-info" type="submit" value="Change password">
</form>

