<form id="login" action="/" method="post">
  Username: <input type="text" placeholder="Enter your username" required>
  Password: <input type="password" placeholder="Enter your password" required>
  <input type="submit" />
</form>