<div class="container" id="new-post">
  <form action="/posts" method="post">
    <h3>New post</h3>
    <textarea id="post-title" name="title" placeholder="Title" required></textarea>
    <textarea id="post-content" name="content" placeholder="Content" required></textarea>
    <textarea id="post-image" name="image_url" placeholder="Image url (optional)"></textarea>
    <input type="submit" id="post-btn" class="btn btn-info">
  </form>
</div>
<script src=""></script>