<div id="posts-container" class="container">
  <h3 style="margin-top: 2%" class="card-text"><%= @user.firstname %> <%= @user.lastname %></h3>
  <% @posts && @posts.each do |post| %>
  <section>

  </section>







  end