<div id="signup" class="container">
  <% if @validate == true %>
    <p>Account has been successfully created. <a href='#' onclick="(function(){document.getElementById('login-btn').click()})()">Log in</a> to start sharing.</p>
  <% else %>
    <h3>Sign up</h3>
    <form class="login-form" action="/signup" method="post">
      <input type="email" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="password" name="reenter_password" placeholder="Re-enter your password" required/>
      <input type="text" name="firstname" placeholder="First name" required/>
      <input type="text" name="lastname" placeholder="Last name" required/>
      <span style="width:80%; white-space: nowrap">
        Birthday: <input type="date" name="birthday" placeholder="Birthday MM-DD-YYYY" required/>
      </span>
      <input class="btn btn-primary user-info-btn" type="submit" value="Sign up">
    </form>
  <% end %>
</div>