#new-post, #edit-post {
  margin: 1% auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 5px 0;
    }

    textarea {
      width: 75%;
      padding: 10px;
    }

    #post-title {
      padding: 10px;
    }

    #post-content {
      overflow: auto;
      min-height: 40vh;
    }

    #post-btn {
      width: 30%;
    }
  }
}